@{
    ViewData["Title"] = "About";
}

<div id="Kompania">
    <div id="Vizion">
        <div id="ImazhiV" class="col-8">
            <img src="Imazhet/iphone-11-ogjpeg.jpeg" alt="ImazhetKompania" height="300px" />
        </div>
        <div id="PershkrimiV" class="col-4">
            <h1>Our History</h1>
            <p>.........</p>
            <p id="Paragrafi">
                Kompania Tech Chap u themelua ne vitin 2013.Puna e korrekte e stafit dhe përkrahja
                në vazhdimsi e klientëve ka ndikuar që Tech Chap të depërtojë shpejt në treg dhe të
                ketë shërbimet më të mira.
                <ul>
                    Tech Chap Filloi Punen me:
                    <li class="TekstiP">Shitje dhe Servisim te Smartphonave</li>
                    <li class="TekstiP">Shitje dhe Servisim te Laptopave</li>
                    <li class="TekstiP">Shitje te aksesoreve te ndryshem</li>
                </ul>
            </p>
        </div>
    </div>
    </div>
