@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<body>
    <div id="HomeContainer" class="Containers" style="display:inline-block;">
        <div id="ImazhiPersonit" class="col-3">
            <img src="/Images/Personi.jpg" alt="Personi" class="ImazhetCon" height="300" width="300" />
        </div>
        <div class="col-10 PershkrimiV">
            <h1 id="Personi"> Hi there I'm Albin</h1>
            <h1 id="PersonPershkrimi">
                I'm a Programmer, hard working man and ready to learn new things!
            </h1>
            <a id="ButtoniConnect" href="https://www.linkedin.com/in/albin-hetemi-b01988191/"> Get in touch </a>
        </div>
    </div>

    <div id="About" class="col-12">
        <div class="PershkrimiV col-4">
            <h1>More Informations</h1>
            <p>.........</p>
        </div>
        <h3 class="col-8 Paragrafi">
            Good research skills, ability to work under
            pressure, ability to adapt to new environments and tasks, good problem solving skills. Skilled in C#, Java,
            Html5, Css, Bootstrap, Asp .Net Core, Asp .Net Core Mvc, Asp .net Core Api, Microsoft Sql Server, JavaScript and ReactJs.
        </h3>
        <div id="Eksperiencat" class="col-12">
            <div class="PershkrimiV col-4">
                <h1>Experiences</h1>
                <p>.........</p>
            </div>
            <div class="col-8 Paragrafi">
                <h2>Company - Besiana Sh.p.k</h2>
                <h3>
                    Started working in Spare Parts Industry, where I have reponsibilities
                    for selling and buying for missing products as well as new products which are sought
                    by buyers.
                </h3>
            </div>
        </div>
    </div>
    <div id="Skillsat" class="col-12">
        <div class="PershkrimiV">
            <h1>Below you can find some of my Skills ilustrated!</h1>
        </div>
        <div class="Skills">
            <h3 class="emratSkills"><a href="https://docs.microsoft.com/en-us/dotnet/csharp/">C#</a></h3>
            <img src="~/Images/C_Sharp.png" alt="C#" height="150" width="200">
        </div>
        <div class="Skills">
            <h3 class="emratSkills"><a href="https://www.java.com/en/">Java</a></h3>
            <img src="/Images/Java.png" alt="Java" height="150" width="200">
        </div>
        <div class="Skills">
            <h3 class="emratSkills"> <a href="https://www.microsoft.com/en-us/sql-server/sql-server-downloads">Microsoft Sql Server</a></h3>
            <img src="/Images//Sql_Server.jpg" alt="SqlServer" height="150" width="200">
        </div>
        <div class="Skills">
            <h3 class="emratSkills"><a href="https://www.javascript.com/">JavaScript</a></h3>
            <img src="Images/JS.png" alt="JavaScript" height="150" width="200">
        </div>
        <div class="Skills">
            <h3 class="emratSkills"> <a href="https://reactjs.org/"> React Js</a></h3>
            <img src="~/Images//React.png"
                 alt="ReactJs" height="150" width="200">
        </div>
        <div class="Skills">
            <h3 class="emratSkills"><a href="https://dotnet.microsoft.com/en-us/apps/aspnet">Asp .Net</a></h3>
            <img src="~/Images//aspnet.jpg" alt="AspNet"
                 height="150" width="200">
        </div>
    </div>

    <div id="Projektet" class="col-12">
        <div class="PershkrimiV">
            <h1>Some of my Projects</h1>
        </div>
        <div class="col-5 Containeri">
            <h2> Web Api</h2>
            <p>
                Api developed in Asp.Net Core with many features in many things!
            </p>
            <h4>C#, ASP.NET CORE</h4>
        </div>
        <div class="col-5 Containeri">
            <h2> Acounting Application </h2>
            <p>
                Application for Spare Parts Stores to manage invoices, sales, employees, clients
                and much more!
            </p>
            <h4>C#, Windows Forms, Microsoft Sql Server</h4>
        </div>
        <div class="col-5 Containeri">
            <h2> Tech Page </h2>
            <p>
                Web Page for Technology Companies to sale their products online.
            </p>
            <h4>Html, Css, JavaScript, JQuery</h4>
        </div>
        <div class="col-5 Containeri">
            <h2> Taxi Company </h2>
            <p>
                Application for Taxi Companies to manage their workers and Cars.
            </p>
            <h4>Java</h4>

        </div>

    </div>
    <div id="Butoni" class="col-12">
        <a id="ButtoniConnect" href="https://github.com/AlbinHetemi?tab=repositories"> Want More </a>
    </div>
    <div id="Kontaktet" class="col-12">
        <div class="PershkrimiV col-4">
            <h1>Here you can contact me</h1>
        </div>
        <h3> You can step up by clicking one of icons listed below</h3>
        <div id="ikon" class="col-8">
            <a href="mailto:Albin.Hetemi17@gmail.com">
                <img src="~/Images/Gmail.png" alt="Gmail" class="ikonat" />
            </a>
            <a href="https://www.facebook.com/albinii9/">
                <img src="~/Images/Facebook.png" alt="Facebook" class="ikonat" />
            </a>
            <a href="https://www.linkedin.com/in/albin-hetemi-b01988191/">
                <img src="~/Images/Linkedin.jpg" alt="Linkedin" class="ikonat" />
            </a>
        </div>
    </div>
</body>
</html>
